form{
    display: flex;
    justify-content: center;
    
}
button{
    max-height: 38px;
    margin-left: 10px;
   
}

input{
    width: 400px;
}

.container{
    margin-top: 20px;
}

.main-page-wrapper{
    height: 100vh;
    background-image: url('../../assets/imgs/main-page/home-background.png');
    background-repeat: no-repeat;
 
    background-position: center top;
    background-size: contain;
}
