<div class="body">

    <div *ngIf="accountInfoReady && winLoseReady" class="container mx-auto">



        <div class="pt-3 flex justify-center items-center flex-wrap md:justify-between">

            <div class="flex flex-wrap  items-center justify-center ">


                <img class="w-32 h-32 rounded-full" [src]="userAccountInfo.profile.avatarfull" alt="user avatar">

                <div class="ml-10">

                    <p class="text-3xl pb-3 text-center sm:text-left">{{userAccountInfo.profile.personaname}}</p>
                    <div class="flex">

                        <div class="win-lose">
                            <p class="text-sm uppercase font-medium">Побед</p>
                            <p class="win-text">{{userWinLoseStat.win}}</p>
                        </div>
                        <div class="win-lose">
                            <p class="text-sm uppercase font-medium">Поражений</p>
                            <p class="lose-text">{{userWinLoseStat.lose}}</p>
                        </div>
                        <div class="win-lose">
                            <p class="text-sm uppercase font-medium text-nowrap">Доля Побед</p>
                            <p class="winrate-text">{{percentOfWins}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative">
                <img class="w-32 h-32" [src]="rank" alt="user rank">
                <div *ngIf="stars" class="absolute top-0">
                    <img class=" w-32 h-32 " [src]="stars" alt="rank stars">

                </div>
                <span class="absolute text-center bottom-5 left-[calc(50%-20px)] w-10 h-6 text-2xl text-white"
                    *ngIf="userAccountInfo.leaderboard_rank">{{userAccountInfo.leaderboard_rank}}</span>
            </div>

        </div>


    </div>


    <div *ngIf="!accountInfoReady && !winLoseReady">
        <app-skeleton-loader [numberOfLines]="1"></app-skeleton-loader>
    </div>




    <div class="container mx-auto custom-container">


        <nav class="  ">
            <div class="">


                <div class="">
                    <ul class="p-3 text-xl">
                        <li class="">
                            <a class="cursor-pointer block transition ease-in-out delay-150 hover:!text-sky-600"
                                routerLinkActive="active" [routerLink]="['overview']">Обзор</a>
                        </li>
                        <li class="">
                            <a class="cursor-pointer block transition ease-in-out delay-150 hover:!text-sky-600"
                                routerLinkActive="active" [routerLink]="['all-matches']">Матчи</a>
                        </li>
                        <li class="">
                            <a class="cursor-pointer  block transition ease-in-out delay-150  hover:!text-sky-600"
                               (click)="goToHeroesStatictic()">Герои</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>



    </div>


</div>