.win-text {
  color: #66bb6a;
  font-size: 24px;
}

.lose-text {
  color: #ff4c4c;
  font-size: 24px;
}

.win-lose + .win-lose {
  margin-left: 40px;
}

.winrate-text {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.87);
}

.main-info {
  margin-left: 40px;
}

.body {
  background-color: rgba(14, 84, 113, 0.37);
  background-image: linear-gradient(to right, rgb(26, 43, 62), rgb(20, 30, 48));
}
.bg-body-tertiary {
  opacity: 0;
}



.custom-container {
  max-width: 1500px !important;
}

ul li {
  display: inline-block;
}

li + li {
  padding-left: 20px;
}



