<div class="container">
 
  <table class="table">
    <thead>
      <tr>
        <th>Герой</th>
        <th>Результат</th>
        <th>Режим Игры</th>
        <th>Длительность</th>
        <th>У</th>
        <th>С</th>
        <th>П</th>
        <th>Предметы</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
            let match of allMatches
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          ">
        <td>
          <div class="hero_wrapper">
            <div class="" style="position: relative; width: 14px; height: 30px; overflow:hidden;">
              <div class="parsed" *ngIf="match.version">
                <svg viewBox="0 0 24 24"
                  style="display: inline-block; color: rgba(255, 255, 255, 0.87); fill: currentcolor; height: 24px; width: 24px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;">
                  <path
                    d="M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z">
                  </path>
                </svg>
              </div>
            </div>

            <img [src]="
                    'https://cdn.cloudflare.steamstatic.com'+ heroes[match.hero_id].img" alt="hero_avatar"
              class="hero-avatar">
            <div class="">

              <!-- <a (click)="goToMatchDetail(lastMatche.match_id)"
                        class="normal-text hero-name">{{lastMatche.hero_name}}</a> -->
              <p class="small-text match-date">{{match.start_time*1000|date}}</p>
            </div>
          </div>
        </td>
        <td>{{ match.kills }}</td>
        <td>{{ match.kills }}</td>
        <td>{{ match.kills }}</td>
        <td>{{ match.kills }}</td>
        <td>{{ match.deaths }}</td>
        <td>{{ match.assists }}</td>
        <td>
          <div class="items-wrapper">
            <div *ngIf="match.item_0" class="item-container">
              <img class="main-item" [tooltip]="itemIds[match.item_0] " [allItemsDesc]="itemFullInfo"
                [src]="'https://cdn.cloudflare.steamstatic.com'+itemFullInfo[itemIds[match.item_0]].img" />
            </div>
            <div class="no-item-in-slot" *ngIf="!match.item_0"></div>

            <div *ngIf="match.item_1" class="item-container">
              <img class="main-item" [tooltip]="itemIds[match.item_1] " [allItemsDesc]="itemFullInfo"
                [src]="'https://cdn.cloudflare.steamstatic.com'+itemFullInfo[itemIds[match.item_1]].img" />
            </div>
            <div class="no-item-in-slot" *ngIf="!match.item_1"></div>

            <div *ngIf="match.item_2" class="item-container">
              <img class="main-item" [tooltip]="itemIds[match.item_2] " [allItemsDesc]="itemFullInfo"
                [src]="'https://cdn.cloudflare.steamstatic.com'+itemFullInfo[itemIds[match.item_2]].img" />
            </div>
            <div class="no-item-in-slot" *ngIf="!match.item_2"></div>

            <div *ngIf="match.item_3" class="item-container">
              <img class="main-item" [tooltip]="itemIds[match.item_3] " [allItemsDesc]="itemFullInfo"
                [src]="'https://cdn.cloudflare.steamstatic.com'+itemFullInfo[itemIds[match.item_3]].img" />
            </div>
            <div class="no-item-in-slot" *ngIf="!match.item_3"></div>

            <div *ngIf="match.item_3" class="item-container">
              <img class="main-item" [tooltip]="itemIds[match.item_3] " [allItemsDesc]="itemFullInfo"
                [src]="'https://cdn.cloudflare.steamstatic.com'+itemFullInfo[itemIds[match.item_3]].img" />
            </div>
            <div class="no-item-in-slot" *ngIf="!match.item_3"></div>

            <div *ngIf="match.item_4" class="item-container">
              <img class="main-item" [tooltip]="itemIds[match.item_4] " [allItemsDesc]="itemFullInfo"
                [src]="'https://cdn.cloudflare.steamstatic.com'+itemFullInfo[itemIds[match.item_4]].img" />
            </div>
            <div class="no-item-in-slot" *ngIf="!match.item_4"></div>

            <div *ngIf="match.item_5" class="item-container">
              <img class="main-item" [tooltip]="itemIds[match.item_5] " [allItemsDesc]="itemFullInfo"
                [src]="'https://cdn.cloudflare.steamstatic.com'+itemFullInfo[itemIds[match.item_5]].img" />
            </div>
            <div class="no-item-in-slot" *ngIf="!match.item_5"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>