<div class="container mx-auto " >
<div class="table_wrapper">

  <table class="table-auto w-full mx-auto border  lg:w-2/3  border-cyan-900 "  *ngIf="allMatches.length!==0">
    <thead class="w-full ">
      <tr>
        <th class="text-left">Герой</th>
        <th class="text-left">Результат</th>
        <th class="text-left">Режим Игры</th>
        <th class="text-left">Длительность</th>
        <th class="text-center">У</th>
        <th class="text-center">С</th>
        <th class="text-center pr-4">П</th>
        <th class="text-left">Предметы</th>
      </tr>
    </thead>
    <tbody>
      <tr app-user-all-matches-item appSetColorFullLineWidth [heroes]="heroes" [itemIds]="itemIds" [itemFullInfo]="itemFullInfo" [match]="match"
        *ngFor="
            let match of allMatches
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          " class="border-b border-cyan-900 ">

      </tr>
    </tbody>
  </table>


</div>

  <div class="text-center" *ngIf="allMatches.length!==0">
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
  <app-skeleton-loader *ngIf="allMatches.length===0"></app-skeleton-loader>
</div>
