<div class=" tool-tip__wrapper text-left w-[300px]">

    <div class="flex items-center">
        <ng-template [ngIf]="abilityInfo.img">
            <img class="mr-[10px] w-[50px] h-[50px] object-fill"
                [src]="'https://cdn.cloudflare.steamstatic.com'+abilityInfo.img" alt="ability image">
        </ng-template>
        <ng-template [ngIf]="!abilityInfo.img">
            <img class="mr-[10px] w-[50px] h-[50px] object-fill"
                src="https://www.opendota.com/assets/images/dota2/talent_tree.svg" alt="ability image">
        </ng-template>
        <ng-template [ngIf]="abilityInfo.dname">
            <p class="font-bold text-2xl text-wrap">{{abilityInfo.dname}}</p>
        </ng-template>
        <ng-template [ngIf]="!abilityInfo.dname">
            <p class="font-bold text-2xl">Bonuse Attribtues</p>
        </ng-template>
    </div>


    <div class="border-b p-[10px] w-full"
        *ngIf="abilityInfo.behavior || abilityInfo.dmg_type || abilityInfo.bkbpierce ">


        <ng-template [ngIf]="abilityInfo.behavior">

            <p class="text-nowrap">TARGET:
                <ng-template [ngIf]="abilityInfo.behavior.constructor.name==='Array'">
                    <ng-template ngFor let-item [ngForOf]="abilityInfo.behavior" let-index="index">
                        <ng-template [ngIf]="index<abilityInfo.behavior.length-1">
                            {{item}}/
                        </ng-template>
                        <ng-template [ngIf]="index===abilityInfo.behavior.length-1">
                            {{item}}
                        </ng-template>
                    </ng-template>

                </ng-template>


                <ng-template [ngIf]="abilityInfo.behavior.constructor.name==='String'">
                    {{abilityInfo.behavior}}
                </ng-template>
            </p>

        </ng-template>


        <ng-template [ngIf]="abilityInfo.dmg_type">
            <p class="text-nowrap">DAMAGE TYPE: {{abilityInfo.dmg_type}}</p>
        </ng-template>
        <ng-template [ngIf]="abilityInfo.bkbpierce">
            <p class="text-nowrap">PIERCE SPELL IMMUNITY: {{abilityInfo.bkbpierce}}</p>
        </ng-template>

    </div>

    <div class="ability-lore" *ngIf="abilityInfo.lore">
        <ng-template [ngIf]="abilityInfo.lore">
            <p class="text-left text-wrap">{{abilityInfo.lore}}</p>
        </ng-template>

    </div>

    <div class="pt-[10px] w-full" *ngIf="abilityInfo.attrib ">
        <div class="" *ngFor="let item of abilityInfo.attrib ">
            <p class="text-wrap">{{item.header}}
                <span *ngIf="item.value.constructor.name === 'Array'">

                    <ng-template ngFor let-value [ngForOf]="item.value" let-index="index">
                        <ng-template [ngIf]="index<item.value.length-1">
                            {{value}}/
                        </ng-template>
                        <ng-template [ngIf]="index===item.value.length-1">
                            {{value}}
                        </ng-template>



                    </ng-template>
                </span>

                <span *ngIf="item.value.constructor.name === 'String'">
                    {{item.value}}
                </span>
            </p>

        </div>
    </div>

    <div class="flex flex-nowrap pt-[10px]">

        <div class="flex mr-5" *ngIf="abilityInfo.mc">

            <img class="mr-1 h-6 w-6" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/tooltips/mana.png"
                alt="mana-img">
            <p class="text-wrap">
                <ng-template [ngIf]="abilityInfo.mc.constructor.name==='Array'">
                    <ng-template ngFor let-item [ngForOf]="abilityInfo.mc" let-index="index">
                        <ng-template [ngIf]="index<abilityInfo.mc.length-1">
                            {{item}}/
                        </ng-template>
                        <ng-template [ngIf]="index===abilityInfo.mc.length-1">
                            {{item}}
                        </ng-template>
                    </ng-template>

                </ng-template>

                <ng-template [ngIf]="abilityInfo.mc.constructor.name==='String'">
                    {{abilityInfo.mc}}
                </ng-template>

            </p>


        </div>

        <div class="flex" *ngIf="abilityInfo.cd">
            <img class="mr-1 h-6 w-6"
                src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/tooltips/cooldown.png" alt="col-down img">
            <p class="text-wrap">
                <ng-template [ngIf]="abilityInfo.cd.constructor.name==='Array'">
                    <ng-template ngFor let-item [ngForOf]="abilityInfo.cd" let-index="index">
                        <ng-template [ngIf]="index<abilityInfo.cd.length-1">
                            {{item}}/
                        </ng-template>
                        <ng-template [ngIf]="index===abilityInfo.cd.length-1">
                            {{item}}
                        </ng-template>
                    </ng-template>

                </ng-template>

                <ng-template [ngIf]="abilityInfo.cd.constructor.name==='String'">
                    {{abilityInfo.cd}}
                </ng-template>

            </p>

        </div>
    </div>
</div>