:host {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}
.tool-tip__wrapper {
  padding-top: 8px;
  background-color: #757575;
  border: 2px solid rgb(39, 41, 43);
  background: rgb(21, 27, 29);
  padding: 10px;
}
.ability-lore {
  padding: 10px;
  border-bottom: 1px solid white;
  width: 100%;
  background-color: rgb(81, 86, 95);
}
