<div class="container mx-auto flex justify-between flex-wrap">

    <app-last-matches class=" w-full lg:w-2/3 " [lastMatches]="lastMatches" [heroes]="heroes"></app-last-matches>
<div class="w-full flex justify-between lg:w-1/4 lg:block">

    <app-played-with class="w-1/2" [playedWith]="usersPlayedWith"
        [userWithMaxGames]="userWithMaxGames"></app-played-with> 
        
    <app-most-played-heroes class="w-1/2" [heroesPlayedStatistic]="heroesPlayedStatistic"
        [heroMaxPlayed]="heroMaxPlayed"></app-most-played-heroes>

</div>



</div>