<div class="container">
    <div class="row">
       

            <div class="сol-sm-12 col-md-12 col-lg-8">
                <div class="" *ngIf="lastMatches">
                    <a class="uppermedium-text">Недавние матчи</a>
                    <div class="table-responsive">

                        <table class="table ">
                            <thead>
        
                                <tr>
                                    <th>Герой</th>
                                    <th>Результат</th>
                                    <th>Режим игры</th>
                                    <th>Длительсноть</th>
                                    <th>У</th>
                                    <th>С</th>
                                    <th>П</th>
                                </tr>
                            </thead>
                            <tr class="" *ngFor="let lastMatche of lastMatches">
                                <td >
                                    <div class="hero_wrapper">
                                        <div class="" style="position: relative; width: 14px; height: 30px; overflow:hidden;">
                                            <div class="parsed" *ngIf="lastMatche.version">
                                                <svg
                                                    viewBox="0 0 24 24"
                                                    style="display: inline-block; color: rgba(255, 255, 255, 0.87); fill: currentcolor; height: 24px; width: 24px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;">
                                                    <path
                                                        d="M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
        
                                        <img [src]="
                                            'https://cdn.cloudflare.steamstatic.com'+ lastMatche.hero_avatar" alt="hero_avatar"
                                            class="hero-avatar">
                                        <div class="">
        
                                            <a (click)="goToMatchDetail(lastMatche.match_id)"
                                                class="normal-text hero-name">{{lastMatche.hero_name}}</a>
                                            <p class="small-text match-date">{{lastMatche.start_time*1000|date}}</p>
                                        </div>
                                    </div>
        
                                </td>
                                <td>
                                    <div class="" *ngIf="lastMatche.player_slot/100>1">
                                        <div class="" *ngIf="lastMatche.radiant_win">
                                            <p class="lose normal-text">Поражение</p>
                                        </div>
                                        <div class="" *ngIf="!lastMatche.radiant_win">
                                            <p class="win normal-text">Победа</p>
                                        </div>
        
                                    </div>
                                    <div class="" *ngIf="lastMatche.player_slot/100<1">
                                        <div class="" *ngIf="!lastMatche.radiant_win">
                                            <p class="lose normal-text">Поражение</p>
                                        </div>
                                        <div class="" *ngIf="lastMatche.radiant_win">
                                            <p class="win normal-text">Победа</p>
                                        </div>
                                    </div>
                                    {{lobbies[lastMatche.lobby_type]}}
                                </td>
        
                                <td>
        
                                    <p *ngIf="lastMatche.party_size">размер группы {{lastMatche.party_size}}</p>
                                    <p>
        
                                        {{gameType[lastMatche.game_mode]}}
                                    </p>
        
                                    <p *ngIf="lastMatche.rankName">{{ranksLocalized[lastMatche.rankName-1]}}
                                        [{{lastMatche.average_rank%10}}]</p>
                                    <p *ngIf="!lastMatche.rankName">Неизвестно</p>
                                </td>
                                <td>
        
                                    <p> {{lastMatche.duration_minutes}}:{{lastMatche.duration_seconds}}</p>
        
                                    <div class="" *ngIf="lastMatche.player_slot/100>1">
        
                                        <p class="small-text">Силы тьмы </p>
                                    </div>
                                    <div class="" *ngIf="lastMatche.player_slot/100<1">
        
                                        <p class="small-text">Силы света </p>
                                    </div>
                                </td>
                                <td>
        
                                    <p style="margin-left: 10px;"> {{lastMatche.kills}}</p>
                                    <div class="sc-bdVaJa sc-bwzfXH hVckbh">
                                        <!-- <div class="sc-htpNat iARqUo" style="margin-left: 10px;">6</div> -->
                                        <div data-hint="УСП: 1.13" data-hint-position="top" class="sc-bxivhb sc-EHOje hvwNSR">
                                            <div appSetElemWidth
                                                [width]="100/(lastMatche.kills+lastMatche.assists+lastMatche.deaths)*lastMatche.kills"
                                                [customColors]="'rgb(102, 187, 106)'"></div>
                                            <div appSetElemWidth
                                                [width]="100/(lastMatche.kills+lastMatche.assists+lastMatche.deaths)*lastMatche.deaths"
                                                [customColors]="'rgb(255, 76, 76)'"></div>
                                            <div appSetElemWidth
                                                [width]="100/(lastMatche.kills+lastMatche.assists+lastMatche.deaths)*lastMatche.assists"
                                                [customColors]="'rgb(124, 153, 168)'"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p> {{lastMatche.deaths}}</p>
                                </td>
                                <td>
                                    <p> {{lastMatche.assists}}</p>
                                </td>
        
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 сol-sm-12 small-tables" >
    
                <div class="" *ngIf="usersPlayedWith">
                    <a class="uppermedium-text">Недавно играли с</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ИГРОК</th>
                                <th>ИС</th>
                                <th>% ПОБЕД С</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let user of usersPlayedWith">
                            <td>
                                <div class="played-with__wrapper">
                                    <img [src]="user.avatar" class="user-played-with--avatar" alt="user avatar">
                                    <div class="" *ngIf="user.name">
    
                                        <a (click)="goToUserPage(user.account_id)"
                                            class="played-with-personaname link">{{user.name}}</a>
                                        <p>{{user.last_played*1000|date:'d-M-y'}}</p>
    
                                    </div>
                                    <div class="" *ngIf="!user.name">
    
                                        <a (click)="goToUserPage(user.account_id)"
                                            class="played-with-personaname link">{{user.personaname}}</a>
                                        <p>{{user.last_played*1000|date:'d-M-y'}}</p>
    
                                    </div>
    
                                </div>
                            </td>
                            <td>
                                <div class="test-wrapper">
                                    <p>{{user.with_games}}</p>
                                    <app-colorfull-line [width]="user.with_games/userWithMaxGames*100"></app-colorfull-line>
                                </div>
                            </td>
    
                            <td>
                                <div class="test-wrapper">
                                    <p>{{ user.with_win_percent}}</p>
                                    <app-colorfull-line [width]="user.with_win_percent"></app-colorfull-line>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="" *ngIf="heroesPlayedStatistic">
                    <a class="uppermedium-text">Сыграно на героях</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Герой</th>
                                <th>ИС</th>
                                <th>% ПОБЕД</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let hero of heroesPlayedStatistic">
                            <td>
                                <div class="played-with__wrapper">
                                    <img [src]="'https://cdn.cloudflare.steamstatic.com'+ hero.hero_avatar"
                                        class="hero-avatar" alt="hero-avatar">
                                    <div class="">
                                        <p>{{hero.hero_name}}</p>
                                        <p>{{hero.last_played*1000|date: 'd-M-Y'}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="test-wrapper">
                                    <p>{{hero.games}}</p>
                                    <app-colorfull-line [width]="hero.games/heroMaxPlayed*100"></app-colorfull-line>
                                </div>
                            </td>
    
                            <td>
                                <div class="test-wrapper" *ngIf="hero.with_win_percent">
                                    <p>{{ hero.with_win_percent}}</p>
                                    <app-colorfull-line [width]="hero.with_win_percent"></app-colorfull-line>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
       
    </div>
</div>