<div class="container mx-auto " *ngIf="players">

    <app-match-info-table [radiantWin]="radiantWin" [isPermanentBuffs]="isPermanentBuffs" [players]="players"
        [heroes]="heroes" [itemFullInfo]="itemFullInfo" [itemIds]="itemIds"
        [abilitiesFullInfo]="abilitiesFullInfo"></app-match-info-table>


    <app-match-abilities-table [players]="players" [abilitiesFullInfo]="abilitiesFullInfo" [heroes]="heroes"
        [abilitiesIds]="abilitiesIds"></app-match-abilities-table>



    <app-match-map [towerRadiantStatus]="towerRadiantStatus" [barracksRadiantSratus]="barracksRadiantSratus"
        [radiantWin]="radiantWin" [towerDireStatus]="towerDireStatus" [barracksDireSratus]="barracksDireSratus"
        [players]="players" [radiantEasyLaneCore]="radiantEasyLaneCore" [radiantHardLaneCore]="radiantHardLaneCore"
        [direHardLaneCore]="direHardLaneCore" [direEasyLaneCore]="direEasyLaneCore" [radiantExpAvg]="radiantExpAvg"
        [radiantGoldAvg]="radiantGoldAvg" [heroes]="heroes"></app-match-map>

</div>


<div class="container mx-auto" *ngIf="!players">
    <app-skeleton-loader [numberOfLines]="4"></app-skeleton-loader>
</div>