<div class="container mx-auto" *ngIf="matchAreReady">

    <app-match-detail-top-info  [matchId]="matchId" [version]="version" [matchRegion]="matchRegion"
        [matchEnded]="matchEnded" [gameMode]="gameMode" [matchDuration]="matchDuration" [radiantWin]="radiantWin"
        [radiantScore]="radiantScore" [direScore]="direScore"></app-match-detail-top-info>


    <app-match-overview></app-match-overview>

</div>
<app-skeleton-loader *ngIf="!matchAreReady" [numberOfLines]="3"></app-skeleton-loader>

